@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #F6F6F6;
  --secondary: #4DAC4D;
  --tertiary: #282D47;
}

html {
  scroll-behavior: smooth !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary)
}

.card {
  position: relative;
}


@layer utilities {
  .container {
    @apply max-w-[1150px] mx-auto w-full px-6
  }

  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .card:hover .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white !important;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.nav-top::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  top: 0;
  left: 50%;
  background-color: #F6F6F6;
  z-index: -1;
}

.banner .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  border: 2px solid white !important;
}

.banner .swiper-pagination-bullet-active {
  background-color: #4DAC4D !important;
}

.banner .swiper-pagination {
  bottom: 50px !important;
}

.expertise .swiper-pagination-bullet {
  @apply !bg-secondary
}

.banner .swiper-pagination-bullet-active {
  background-color: #282D47 !important;
  opacity: 1 !important;
}

.expertise .swiper-pagination {
  bottom: 0px !important;
}

.image-box::after {
  position: absolute;
  content: "";
  top: -40px;
  right: 0;
  bottom: 0;
  left: 50%;
  background-image: url('../../public/img-n-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-radius: 8px;
}

.nav-part::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  top: 0;
  right: 30%;
  background-color: #4DAC4D;
  z-index: -1;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.ourDo {
  background-repeat: no-repeat;
  background-image: url('../../public/slider-a-01.jpg');
  background-size: cover;
  background-attachment: fixed;
}



@media screen and (max-width:1040px) {
  .nav-part::before {
    right: 25%;
  }
}

@media screen and (min-width:1390px) {
  .nav-part::before {
    right: 40%;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
}